[Desktop Entry]
Name=Date and Calendar
Name[zh_CN]=时间和日历
Comment=Date and time, and a calendar with Chinese lunar calendar
Comment[zh_CN]=日期和时间，以及带农历的日历

Icon=office-calendar
Type=Service
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_calendar
X-KDE-ParentApp=org.kde.plasmashell

X-KDE-PluginInfo-Author=Gary Wang
X-KDE-PluginInfo-Email=wzc782970009@gmail.com
X-KDE-PluginInfo-Category=Date and Time
X-KDE-PluginInfo-Name=net.blumia.pineapple.calendar
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://plasma.kde.org/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-License=LGPL-2.1+
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-Provides=org.kde.plasma.time,org.kde.plasma.date

